body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/previews/028/247/977/non_2x/healthcare-background-accommodates-text-enhancing-medical-communication-visually-ai-generated-photo.jpg');
}

.navbar-brand {
  font-size: 1.5rem;
}

form {
  max-width: 500px;
  margin: auto;
}

button {
  border-radius: 8px;
}

table {
  margin-top: 20px;
}
